@font-face {
    font-family:"Lemon";
    src: url(Lemon/Lemon-Regular.ttf);
}


.title{
    color: #F19A3E;
    font-family: lemon;
    font-size: 60px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 1%;
}

body{
    background-color: #3E3E3E;
}

.subjects-bar{
    width: 100vw;
    height: fit-content;
    margin:1%;
}

.subject-button{
    width:15%;
    height: 60px;
    color: #FFF;
    font-family: Lemon;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align-last:center;
    background-color: #666666;
    border-radius: 15px;
    margin:0.5%;

    display:inline-grid;
}

.heading-bg{
    width: auto;
    height: fit-content;
    background-color: #666666;
    border-radius: 15px;
    margin:0.5%;
}

.heading{
    color: #FFF;
    font-family: Lemon;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.text-bg{
    width: auto;
    height: fit-content;
    background-color: #666666;
    border-radius: 15px;
    margin:0.5%;
}

.text{
    color: #FFF;
    
    text-align: center;
    font-family: Lemon;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-overflow: clip;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;

}

.past-paper-parent{
    width: 100vw;
    height: fit-content;
}

.past-paper-child{
    display:inline-grid;
    width: 31%;
    min-height:191.05px;
    height: fit-content;

    background-color: #666666;
    border-radius: 15px;
    margin:0.5%;
}
